<p>
    <%= link_to 'Português', root_path(locale:'pt-BR') %>
</p>
<p>
    <%= link_to 'English', root_path(locale:'en')  %>
</p>

<h1>Seja Bem-Vindo!</h1>

<p>I18n é: <strong><%= t('actual_locale')%></strong></p>

<p> Data: <%= I18n.l(Date.today)%></p>

<p> <%= I18n.t('hello')%> </p>


<%= render "menu" %>
    

<p>
    Ambiente: <strong><%= ambiente_rails %></strong>
</p>
